Repository element-hq/element-ios, pull requests merged in 2023-01, with the labels that each got.

#7228 Remove "under active development“ sub-label from voice broadcast labs setting
  Riot/Assets/en.lproj/Vector.strings
  Riot/Generated/Strings.swift
Labels: A-Voice-Broadcast

#7237 fixed a crash when a new DM room is created (#7232)
  Riot/Modules/Room/RoomViewController.m
  Riot/Modules/Room/RoomViewController.swift
  changelog.d/7232.bugfix
Labels: A-DMs, A-Voice-Broadcast

#7242 Fix temporary file deletion for a voice message (#7240)
  Riot/Modules/Room/VoiceMessages/VoiceMessageController.swift
Labels: A-Voice-Messages

#7244 Fix clearCache method on VoiceMessageAttachmentCacheManager
  Riot/Modules/Room/VoiceMessages/VoiceMessageAttachmentCacheManager.swift
  changelog.d/pr-7244.bugfix
Labels: T-Defect, A-Voice-Messages

#7227 Delete during broadcasting
  RiotSwiftUI/Modules/Room/VoiceBroadcastRecorder/Coordinator/VoiceBroadcastRecorderCoordinator.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastRecorder/Coordinator/VoiceBroadcastRecorderProvider.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastRecorder/Service/MatrixSDK/VoiceBroadcastRecorderService.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastRecorder/Service/VoiceBroadcastRecorderServiceProtocol.swift
Labels: A-Voice-Broadcast

#7243 add support for reactions on VB (#7179)
  Riot/Modules/MatrixKit/Models/Room/MXKRoomDataSource.m
  Riot/Modules/Room/CellData/RoomBubbleCellData.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/VoiceBroadcast/Playback/VoiceBroadcastPlaybackPlainCell.swift
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/VoiceBroadcast/Recorder/VoiceBroadcastRecorderPlainCell.swift
  changelog.d/7179.feature
Labels: T-Enhancement, A-Reactions, A-Voice-Broadcast

#7219 Delete an existing broadcast
  Riot/Modules/VoiceBroadcast/VoiceBroadcastSDK/VoiceBroadcastAggregator.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/Coordinator/VoiceBroadcastPlaybackCoordinator.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/Coordinator/VoiceBroadcastPlaybackProvider.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/MatrixSDK/VoiceBroadcastPlaybackViewModel.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/VoiceBroadcastPlaybackModels.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/VoiceBroadcastPlaybackScreenState.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/VoiceBroadcastPlaybackViewModelProtocol.swift
Labels: A-Voice-Broadcast

#7225 Handle VoIP buttons when VB is used
  Riot/Assets/en.lproj/Vector.strings
  Riot/Generated/Strings.swift
  Riot/Modules/Room/RoomViewController.m
  RiotSwiftUI/Modules/Room/VoiceBroadcastRecorder/Coordinator/VoiceBroadcastRecorderCoordinator.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastRecorder/Coordinator/VoiceBroadcastRecorderProvider.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastRecorder/Service/MatrixSDK/VoiceBroadcastRecorderService.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastRecorder/Service/VoiceBroadcastRecorderServiceProtocol.swift
  changelog.d/pr-7225.change
Labels: A-VoIP, A-Voice-Broadcast

#7256 Fix Element Alpha workflow
  .github/workflows/release-alpha.yml
  changelog.d/pr-7256.build
Labels: Trigger-PR-Build

#7262 Different link colours are now supported and by default most links are now in blue in the timeline
  DesignKit/Source/ColorValues.swift
  DesignKit/Source/Colors.swift
  DesignKit/Source/ColorsSwiftUI.swift
  DesignKit/Source/ColorsUIkit.swift
  DesignKit/Variants/Colors/Dark/DarkColors.swift
  DesignKit/Variants/Colors/Light/LightColors.swift
  Riot/Categories/MXKTableViewCellWithTextView.swift
  Riot/Managers/Theme/Themes/DarkTheme.swift
  Riot/Managers/Theme/Themes/DefaultTheme.swift
  Riot/Modules/GlobalSearch/Messages/Views/MessagesSearchResultAttachmentBubbleCell.m
  Riot/Modules/GlobalSearch/Messages/Views/MessagesSearchResultTextMsgBubbleCell.m
  Riot/Modules/MatrixKit/Utils/EventFormatter/HTMLFormatter.swift
  Riot/Modules/MatrixKit/Utils/EventFormatter/MXKEventFormatter.h
  Riot/Modules/MatrixKit/Utils/EventFormatter/MXKEventFormatter.m
  Riot/Modules/MatrixKit/Utils/MXKTools.m
  Riot/Modules/MatrixKit/Views/MXKMessageTextView.m
  Riot/Modules/Room/TimelineCells/RoomCreation/RoomCreationCollapsedBubbleCell.m
  Riot/Modules/Room/TimelineCells/RoomMembership/RoomMembershipBubbleCell.m
  Riot/Modules/Room/TimelineCells/RoomMembership/RoomMembershipCollapsedBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Bubble/Cells/TextMessage/Common/TextMessageBaseBubbleCell.swift
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/FileAttachment/Incoming/Clear/RoomIncomingAttachmentBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/FileAttachment/Incoming/Clear/RoomIncomingAttachmentWithPaginationTitleBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/FileAttachment/Incoming/Clear/RoomIncomingAttachmentWithoutSenderInfoBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/FileAttachment/Outgoing/Clear/RoomOutgoingAttachmentBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/FileAttachment/Outgoing/Clear/RoomOutgoingAttachmentWithPaginationTitleBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/FileAttachment/Outgoing/Clear/RoomOutgoingAttachmentWithPaginationTitleWithoutSenderNameBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/FileAttachment/Outgoing/Clear/RoomOutgoingAttachmentWithoutSenderInfoBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/TextMessage/Incoming/Clear/RoomIncomingTextMsgBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/TextMessage/Incoming/Clear/RoomIncomingTextMsgWithPaginationTitleBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/TextMessage/Incoming/Clear/RoomIncomingTextMsgWithPaginationTitleWithoutSenderNameBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/TextMessage/Incoming/Clear/RoomIncomingTextMsgWithoutSenderInfoBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/TextMessage/Incoming/Clear/RoomIncomingTextMsgWithoutSenderNameBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/TextMessage/Outgoing/Clear/RoomOutgoingTextMsgBubbleCell.m
  Riot/Modules/Room/TimelineCells/Styles/Plain/Cells/TextMessage/Outgoing/Clear/RoomOutgoingTextMsgWithoutSenderInfoBubbleCell.m
  Riot/Modules/Room/Views/WYSIWYGInputToolbar/WysiwygInputToolbarView.swift
  Riot/Utils/EventFormatter.m
  RiotNSE/SupportingFiles/RiotNSE-Bridging-Header.h
  RiotNSE/target.yml
  RiotTests/MatrixKitTests/MXKEventFormatterTests.m
  SiriIntents/SupportingFiles/SiriIntents-Bridging-Header.h
  SiriIntents/target.yml
  changelog.d/5148.bugfix
  changelog.d/7263.bugfix
Labels: A-Timeline, Trigger-PR-Build

#7266 Fix how is resent a voice broadcast chunk
  Riot/Modules/MatrixKit/Models/Room/MXKRoomDataSource.h
  Riot/Modules/MatrixKit/Models/Room/MXKRoomDataSource.m
  Riot/Modules/Room/RoomViewController.m
  changelog.d/7261.bugfix
Labels: A-Voice-Broadcast

#7273 Improved detection of voice broadcast completion during playback
  Riot/Modules/VoiceBroadcast/VoiceBroadcastSDK/VoiceBroadcastAggregator.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/MatrixSDK/VoiceBroadcastPlaybackViewModel.swift
  changelog.d/pr-7273.change
Labels: T-Enhancement, A-Voice-Broadcast

#7269 Unexpected live voice broadcast
  Riot/Utils/EventFormatter.m
Labels: A-Voice-Broadcast

#7276 Handle a connection issue when we try to start a new voice broadcast
  Riot/Assets/en.lproj/Vector.strings
  Riot/Generated/Strings.swift
  Riot/Modules/Room/RoomViewController.m
  Riot/Modules/VoiceBroadcast/VoiceBroadcastSDK/VoiceBroadcastService.swift
  changelog.d/7234.change
Labels: A-Voice-Broadcast

#7277 Fix voicebroadcast playback slider on seek
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/MatrixSDK/VoiceBroadcastPlaybackViewModel.swift
  changelog.d/7252.bugfix
Labels: T-Defect, A-Voice-Broadcast

#7239 Rich Text Composer: Enable bulleted/numbered lists, quote & code blocks support
  Riot.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Riot/Assets/Images.xcassets/Composer/code_block.imageset/Contents.json
  Riot/Assets/Images.xcassets/Composer/code_block.imageset/code_block.png
  Riot/Assets/Images.xcassets/Composer/code_block.imageset/code_block@2x.png
  Riot/Assets/Images.xcassets/Composer/code_block.imageset/code_block@3x.png
  Riot/Assets/en.lproj/Vector.strings
  Riot/Generated/Images.swift
  Riot/Generated/Strings.swift
  RiotSwiftUI/Modules/Room/Composer/Model/ComposerModels.swift
  RiotSwiftUI/Modules/Room/Composer/View/FormattingToolbar.swift
  changelog.d/7238.feature
  changelog.d/7271.feature
  project.yml
Labels: Trigger-PR-Build

#7281 Rich Text Editor: Link Improvements
  Riot.xcworkspace/xcshareddata/swiftpm/Package.resolved
  RiotSwiftUI/Modules/Room/Composer/LinkAction/Model/ComposerLinkActionModel.swift
  RiotSwiftUI/Modules/Room/Composer/LinkAction/Test/UI/ComposerLinkActionUITests.swift
  RiotSwiftUI/Modules/Room/Composer/LinkAction/Test/Unit/ComposerLinkActionViewModelTests.swift
  changelog.d/7279.change
  changelog.d/7280.change
  project.yml
Labels: Trigger-PR-Build

#7291 Detect and handle the lost of connectivity with the homeserver while recording a voice broadcast
  Riot/Modules/Application/AppCoordinator.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastRecorder/Coordinator/VoiceBroadcastRecorderProvider.swift
  changelog.d/7285.change
Labels: T-Enhancement, A-Voice-Broadcast

#7290 Implement MSC3912 to delete server side all the data of the deleted voice broadcast
  Riot/Modules/Room/RoomViewController.m
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/Coordinator/VoiceBroadcastPlaybackCoordinator.swift
  changelog.d/7283.feature
Labels: T-Enhancement, A-Voice-Broadcast

#7300 Fix a deadlock when updating the summary of a room that has a voice broadcast
  Riot/Utils/EventFormatter.m
  changelog.d/pr-7300.bugfix
Labels: T-Defect, A-Voice-Broadcast

#7307 Release 1.9.17
  CHANGES.md
  Config/AppVersion.xcconfig
  Riot/Modules/Analytics/DecryptionFailure.swift
  Riot/Modules/Analytics/DecryptionFailureTracker.m
  Riot/Modules/Analytics/Helpers/MXCallHangupReason+Analytics.swift
  Riot/Utils/EventFormatter.m
  RiotSwiftUI/Modules/Common/Avatar/View/AvatarImage.swift
  RiotSwiftUI/Modules/Common/Avatar/View/SpaceAvatarImage.swift
  RiotSwiftUI/Modules/Common/Avatar/ViewModel/AvatarViewModel.swift
Labels: Trigger-PR-Build

#7302 Inform the user about decryption errors during a voice broadcast
  Riot/Assets/en.lproj/Vector.strings
  Riot/Generated/Strings.swift
  Riot/Modules/MatrixKit/Utils/EventFormatter/MXKEventFormatter.m
  Riot/Modules/VoiceBroadcast/VoiceBroadcastSDK/VoiceBroadcastAggregator.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/MatrixSDK/VoiceBroadcastPlaybackViewModel.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/View/VoiceBroadcastPlaybackDecryptionErrorView.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/View/VoiceBroadcastPlaybackView.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/VoiceBroadcastPlaybackModels.swift
  RiotSwiftUI/Modules/Room/VoiceBroadcastPlayback/VoiceBroadcastPlaybackScreenState.swift
  changelog.d/7189.change
Labels: T-Enhancement, A-Voice-Broadcast
